// General
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// body {
//     margin: 0 auto
// }

// .container {
//     margin: 2% auto;
// }

//Section 1

.hero1_body {
    padding: 1rem 10% 0 0;
}

//Section 2

.hero2_title {
    padding: 5% 10%
}

.hero2_body {
    padding: 1rem 10% 1rem; 
}

//Section 3
// .feature_grid {
//     margin: 0 auto;
// }

.feature_icon {
    text-align: center;
}
