// General
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


//Section 1

// .hero1_body {
//     padding: 2rem 10% 2rem 0;
// }

// //Section 2

// .hero2_title {
//     padding: 5% 10%
// }

// .hero2_body {
//     padding: 1rem 10% 1rem; 
// }

//Section 3
// .feature_grid {
//     margin: 0 auto;
// }

.feature_icon {
    text-align: center;
}
