// General
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto
}

.container {
    margin: 2% auto;
}

.hero1_body {
    padding: 1rem 10% 0 0;
}

.hero2_title {
    padding: 7% 15%
}

.hero2_body {
    padding: 1rem 10% 1rem; 
}