
body {
  font-family: 'Lato', 'Arial', sans-serif;
}

html {
  scroll-behavior: smooth; 
 } 


.link {
  color: #2196f3 !important;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
